{% extends 'base.html' %}

{% block content %}
    <script>
        function updateCur(){
            var input = document.getElementById("starting_price")
            var output = document.getElementById("converted");
            output.innerHTML = (input.value * {{ rate }}).toFixed(2)
        }
    </script>

    <form action="{% url 'auctionAdd' %}" method="POST">
        {% csrf_token %}
        {% if "date" in error.values %}<span style="color: red; ">Errors in form, please fix items marked with red.</span>{% endif %}<br><br>
        <table border="0">
            <tr>
                <td>{{ form.title.label_tag }}</td>
                <td>{{ form.title }}</td>
            </tr>
            <tr>
                <td>{{ form.description.label_tag }}</td>
                <td>{{ form.description }}</td>
            </tr>
            <tr>
                <td>{{ form.starting_price.label_tag }}</td>
                <td>
                    <input type="text" name="starting_price" id="starting_price" value="0" oninput="updateCur()">
                    {% if request.session.currency != 'EUR' %}
                        = <h id="converted"> 0 </h> {{ request.session.currency }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    {% if "date" in error.values %}<span style="color: red; ">{% endif %}
                    End date:
                    {% if "date" in error.values %}</span>{% endif %}
                </td>
                <td>
                    <input type="datetime-local" id="end_datetime"
                           name="end_datetime" value="{{ min_date }}"
                           min="{{ min_date }}" max="{{ max_date }}" />
                    {{ form.date }}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Add" style="width: 100%">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}