<table class="auction_item">
    <tr>
        <td>
            Title
        </td>
        <td>
            {{ auction.title }}
        </td>
    </tr>
    <tr>
        <td>
            Seller
        </td>
        <td>
            {{ auction.seller_name }}
        </td>
    </tr>
    <tr>
        <td valign="top">
            Item description
        </td>
        <td>
            <pre>{{ auction.description }}</pre>
        </td>
    </tr>
    <tr>
        <td>
            Starting price
        </td>
        <td>
            {{ starting_price }}
        </td>
    </tr>
    <tr>
        <td>
            Number of bids
        </td>
        <td>
            {{ auction.bid_set.count }}
        </td>
    </tr>
    <tr>
        <td>
            Current price
        </td>
        <td>
            {{ current_price }}
        </td>
    </tr>
    <tr>
        <td>
            Highest bid by
        </td>
        <td>
            {{ auction.current_winner_name }}
        </td>
    </tr>
    <tr>
        <td>
            Auction closing time
        </td>
        <td>
            {% if auction_time_closing %}
                {{ auction_time_closing }}
            {% else %}
                {{ auction.time_closing }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            Posted on
        </td>
        <td>
            {% if auction_time_posted %}
                {{ auction_time_posted }}
            {% else %}
                {{ auction.time_posted }}
            {% endif %}
        </td>
    </tr>
</table>
