{% extends 'base.html' %}

{% block content %}
    <table class="auction_item">
        <tr>
            <td>
                Title
            </td>
            <td>
                {{ auction.title }}
            </td>
        </tr>
        <tr>
            <td>
                Seller
            </td>
            <td>
                {{ seller_name }}
            </td>
        </tr>
        <tr>
            <td>
                Item description
            </td>
            <td>
                {{ auction.description }}
            </td>
        </tr>
    </table>
{% endblock %}