{% extends "base.html" %}

{% block content %}
    {% include 'currency_picker.html' %}
    Number of auctions: {{ auctions.count }}<br><br>
    <table border="0" cellpadding="4" cellspacing="8" style="max-width: 90%">
            <tr>
                <th width="150">
                    Item name
                </th>
                <th width="350">
                    Description
                </th>
                <th width="300">
                    Current price
                </th>
                <th width="250">
                    Closing time
                </th>
                <th>
                    Seller
                </th>
            </tr>
        {% for auction in auctions %}
            <tr valign="top">
                <td>
                    <a href="{% url 'auctions' %}{{ auction.id }}">{{ auction.title }}</a>
                </td>
                <td>
                    <pre>{{ auction.description }}</pre>
                </td>
                <td width="130">
                    {{ auction.current_price }}
                </td>
                <td>
                    {{ auction.time_closing }}
                </td>
                <td>
                    {{  auction.seller_name }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
