{% extends "base.html" %}

{% block content %}
    Current e-mail: {{ user.email }}<br>
    User has admin rights: {{ user.is_superuser }}<br><br>
    <form action="{% url 'edit_account' %}" method="POST">
        {% csrf_token %}
        <table border="0">
            {% for field in form.visible_fields %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Save changes" style="width: 100%">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}