{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'auctionEdit'  %}{{ auction_id }}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    {{ form.title.label_tag }}
                </td>
                <td>
                    {{ form.title.value }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.description.label_tag }}
                </td>
                <td>
                    {{ form.description }}
                </td>
            </tr>
        </table><br>
            <input type="hidden" value="{{ auction_id }}" name="id" />
        <input type="submit" value="Save">
    </form>
{% endblock %}