{% if not user.is_authenticated %}
    <form action="{% url 'login' %}" method="POST" class="login">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <input id="username" name="username" type="text", value="Username" /><br>
                    <input id="password" name="password" type="password", value="Password"/>
                </td>
                <td>
                    <button type="submit">Login</button>
                </td>
            </tr>
        </table>
    </form>
{% else %}
    <div class="login">
        <table border="0" class="text_white">
            <tr>
                <td>
                    Logged in: {{ user }}
                </td>
                <td rowspan="3">
                    <br><form action="{% url 'logout' %}" method="POST" style="padding-left: 10px">
                        {% csrf_token %}
                        <button type="submit">Log out</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'edit_account' %}" class="text_white">Edit account</a>
                </td>
            </tr>
        </table>
    </div>
{% endif %}
