{% extends "base.html" %}

{% block content %}
    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <table border="0">
            {% for field in signup_form.visible_fields %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Register" style="width: 100%">
            </td>
        </tr>
        </table>
    </form>
{% endblock %}
